#nav {
  float: left;
  width: 200px;
  padding: 0;
}

#content {
  margin-left: 210px;
}

ul {
  padding-left: 20px;
}

#footer {
  clear: both;
  text-align: center;
  border-top: 1px dashed #000;
  margin-top: 0.5em;
  padding-top: 5px;
}

#footer p {
  margin: 0;
}

#disqus_thread {
  margin-top: 5em;
  border-top: 2px solid #000;
}
