body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

article {
  font-size: 130%;
  width: 760px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #FADBA2;
}

article img {
  border: 0;
  float: left;
}

article p {
  margin-left: 180px;
}

nav img {
  border: 0;
  display: block;
  margin: 10px auto;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 20px;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #000;
  font-size: 150%;
  display: block;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #D2E3F3;
}

nav a:hover {
  background: orange;
}

footer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

footer p {
  margin: 0;
}
