html, body {
    font-family: Calibri, Helvetica, "Droid Sans", "DejaVu Sans", Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Georgia, "Droid Serif", "DejaVu Serif", serif;
}
#container {
  width: 960px;
  margin: 2em auto;
}
header, footer {
  text-align: center;
}
header h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0.5em 0;
}
footer h1 {
  font-size: normal;
  margin-top: 3em;
}
#breadcrumbs {
  padding: 0.5em;
  margin: 0.5em 0;
  background: #eee;
}
#breadcrumbs ul, #breadcrumbs li {
  display: inline;
  padding-left: 0.5em;
}
#main {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
}
#logins {
  text-align: center;
}
#logins form {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  padding: 0 1em;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 40px;
}
#userbar {
  text-align: right;
}
p, aside {
  margin: 0.5em 0;
  line-height: 1.4em;
  text-align: justify;
}
section h1 {
  margin: 0.3em 0;
  font-size: 1.5em;
  font-weight: normal;
}
#main li {
  margin: 0.2em 0;
}
.tooltip {
  font-style: italic;
  font-size: 0.8em;
  color: #333;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #999;
    padding: 0.4em;
}

pre {
    background-color: #eee;
    margin: 0.4em;
    padding: 0.4em;
}

dl {
    margin: 0.5em;
}

dt {
    font-style: italic;
    margin-bottom: 0.25em;
}
dd {
    margin-left: 2em;
    margin-bottom: 0.5em;
}

span.rank {
    font-size: 0.7em;
    color: #444;
    font-style: italic;
}
